extends layoutFrame.pug 

block content 
    
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
    
    link(href="/css/chat.css"  rel="stylesheet" )
    .main_section
        .container
            button(class="btn btn-secondary btn-product" id="btn-getAll" onclick="window.location.href='/products';") View Products
            .chat_container
                .col-sm-12.message_section
                    .row
                        .new_message_head
                            .pull-left
                                button
                                    i.fa.fa-plus-square-o(aria-hidden='true')
                                    |  New Message
                            .pull-right
                                .dropdown
                                    button#dropdownMenu1.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                        i.fa.fa-cogs(aria-hidden='true')
                                        |   Setting
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenu1')
                                        li
                                            a(href='#') Action
                                        li
                                            a(href='#') Profile
                                        li
                                            a(href='/auth/logout') Logout
                        .chat_area
                            ul.list-unstyled(id="messages-container")
                                for messageInfo in messages 
                                    li
                                        span.chat-img1.pull-left
                                            img.img-circle(src=(messageInfo.profilePhoto) alt='User Avatar')
                                    .chat-body1
                                        p
                                            b !{messageInfo.name}
                                            | : !{messageInfo.message}
                                        .chat_time.pull-right  !{formatDate(messageInfo.date)}

                        .message_write
                            div.message-input-container
                                input.form-control(placeholder='type a message' id="message-content")
                                button.pull-right.btn.btn-success(id="send-message-btn")
                                    | Send



                            
                            



    script(src="/js/chat.js")