extends layoutFrame.pug 

block content 
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")

    link(rel="stylesheet", href="/css/failLogin.css")
    script(src="/js/failAuth.js")
    main.main-error-container
        .d-flex.flex-column.align-items-center
            img(src="/images/sadface.png", alt="Sad face")
            h2=errorMessage
            h3="Redirecting..."

