extends layoutFrame.pug 

block content 
    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
    div(class=["d-flex", "flex-column","mt-2"])
        h1 Login
        label(for="username") Username
        input(type="text" name="username" id="username")

        label(for="password") Password
        input(type="password" name="password" id="password")

        label(for="email") E-Mail
        input(type="text" name="email" id="email")

        label(for="photo") Profile Photo
        input(type="text" name="photo" id="photo")

        label(for="firstName") First Name
        input(type="text" name="firstName" id="firstName")

        label(for="lastName") Last Name
        input(type="text" name="lastName" id="lastName")

        div(id="buttons" class="p-3")
            button(class="btn btn-primary" id="btn-signup") Sign Up
        div(id="buttons" class="p-3")
            a(href="/auth/facebook")
                button(class="btn btn-primary") Login with Facebook

    script(src="/js/signup.js")